*{
    margin-top: 10px;
    margin-bottom: 6px;
    
}

.navbar{
    background-color: white;
    text-decoration: none;
    border-radius: 2px;
    margin-top: -65px;
    margin-left:810px;
    margin-right: 180px;
    margin-bottom: 100px;
    justify-content: center
    
}

.navbar ul{
    overflow: auto;
    margin: 20px;
    text-align: center;
}

.navbar li{
    margin-top: 10px;
    margin-bottom: 12px;
    float: left;
    list-style: none;
    padding: 3px,3px;
}

.navbar li a{
    padding: 23px,13px;
    margin: 12px;
    text-decoration: none;
    font-size: 20px;   
    color: black;
}

.head_content{
    margin-left: 120px;
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: larger;
}

.software_passage{
    margin-top: 0px;
    
    
}

main_head{
    margin-left: 80px;
    font-size: medium;
}
.tech:hover{
    background-color:rgba(0, 0, 0, 0.3) ;
    
}