*{
    margin-top: 0.00001px;
    padding-top: 0.00000000001px;
}
.bg-container {
    background-size: cover;
    background-color: #3a698910;
    padding-bottom: 50px;

}
.text-container{
    padding-left: 90px;
}

.image-container {
    background-image: url("https://static.wixstatic.com/media/nsplsh_6d704e37786a4b515f4e73~mv2.jpg/v1/fill/w_1899,h_694,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_6d704e37786a4b515f4e73~mv2.jpg");
    /*background: linear-gradient(45deg,rgba(0, 0, 0, 0.116),rgba(0, 0, 0, 0.057)) ;*/
    width: 100%;
    height: 75vh;
    background-size: cover;
}

.techno-heading {
    margin-left: 30px;
    margin-bottom: 0;
    color: #ffffff;
}

.techno-para {
    margin-left: 30px;
    color: #ffffff;
}

.text-container {
    padding: 20px;
    margin-left: 250px;
    font-size: 20px;

}

.product-title {
    color: #ffffff;
}

.enterprise-title {
    color: #ffffff;
}

.para-content {
    color: #ffffff;
}

.solutions-container {
    text-align: center;
    padding: 60px;
}

.our-ent-heading {
    font-size: 40px;
    font-family: serif;
    margin-top: 80px;
}

.software-para {
    font-size: 20px;
    margin: 20px;
}

.latest-tech-container {
    text-align: center;
    padding: 60px;
}

.latest-heading {
    font-size: 40px;
    font-family: serif;
    margin-top: 80px;
}

.latest-tech-para {
    font-size: 20px;
    margin: 20px;
}

.row-cards {
    margin: 10px;
    text-align: center;
}

.services {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.Technologies {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.platforms {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.company {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.contacts {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.hover-bg-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0e-_9LqjP1sGwoLaB_v0Hdo1aA8R1Klc1SA&usqp=CAU");
    background-size: cover;
    opacity: 0.8;
    width: 24vw;
    height: 80vh;
    text-align: center;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: bold;
}

.hover-bg-container:hover{
    display: visible;
}


.text{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.928);
    opacity: 0.9;
    width: 24vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    color: white;
    visibility: hidden;
}
.text:hover{
    opacity: 1;
    display:none;
}

.hover-bg-container1 {
    background-image: url("https://img.freepik.com/free-vector/api-concept-illustration_114360-9822.jpg?w=740&t=st=1699990383~exp=1699990983~hmac=47bea03785998cfa8273a8c52166eff4f5d4d253ef2c1d1b2d2e2a4d1df72b33");
    background-size: cover;
    opacity: 0.9;
    width: 24vw;
    height: 80vh;
    text-align: center;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: bold;
}

.hover-bg-container2 {
    background-image: url("https://img.freepik.com/free-vector/appointment-booking-with-man-smartphone_23-2148554945.jpg?w=740&t=st=1699990533~exp=1699991133~hmac=867fdc538c5491085038452746ad9e2e702f9927f63d557c072bca155d1c23e9");
    background-size: cover;
    opacity: 0.9;
    width: 24vw;
    height: 80vh;
    text-align: center;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: bold;
}

.hover-bg-container3 {
    background-image: url("https://img.freepik.com/premium-vector/hr-personnel-recruiting-hiring-concept_70921-385.jpg?w=740");
    background-size: cover;
    opacity: 0.9;
    width: 24vw;
    height: 80vh;
    text-align: center;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: bold;
    
}
.hover-container{
    display: flex;
}
.para{
    padding-top: 36vh;
    font-size: larger;
    font-weight: 400;
    color: black;
}
.Nav{
    color: white;
}